/* tslint:disable */
{{#if canImportByAlias}}
import { Controller, ValidateParam, FieldErrors, ValidateError, TsoaRoute } from 'tsoa';
{{else}}
import { Controller, ValidateParam, FieldErrors, ValidateError, TsoaRoute } from '../../src';
{{/if}}
import * as uuid from 'uuid/v4';
import * as httpContext from 'express-http-context';
import { iocContainer } from '../../../utils/ioc/ioc';
import Constants from '../../../utils/constants/constants';

{{#each controllers}}
import { {{name}} } from '{{modulePath}}';
{{/each}}


const models: TsoaRoute.Models = {
{{#each models}}
"{{@key}}": {
{{#if enums}}
"enums": {{{json enums}}},
{{/if}}
{{#if properties}}
"properties": {
{{#each properties}}
"{{@key}}": {{{json this}}},
{{/each}}
},
{{/if}}
{{#if additionalProperties}}
"additionalProperties": {{{json additionalProperties}}},
{{/if}}
},
{{/each}}
};

export function RegisterRoutes(app: any) {
{{#each controllers}}
{{#each actions}}
app.{{method}}('{{../../basePath}}{{../path}}{{path}}',
function (request: any, response: any, next: any) {
const requestToken = request.headers[Constants.HTTP.HEADER.REQUEST_TOKEN] || uuid();
const referer = request.headers.referer;
httpContext.set('requestToken', requestToken);
httpContext.set('referer', referer);
httpContext.set('path', '{{../../basePath}}{{../path}}{{path}}');
const args = {
{{#each parameters}}
{{@key}}: {{{json this}}},
{{/each}}
};
let validatedArgs: any[] = [];
try {
validatedArgs = getValidatedArgs(args, request);
} catch (err) {
return next(err);
}
const controller = iocContainer.get<{{../name}}>({{../name}});
    const promise = controller.{{name}}.apply(controller, validatedArgs);
    promiseHandler(controller, promise, response, next, request);
    });
    {{/each}}
    {{/each}}

    function promiseHandler(controllerObj: any, promise: any, response: any, next: any, request: any) {
    return Promise.resolve(promise).then((data: any) => {
    let statusCode;
    if (controllerObj instanceof Controller) {
    const controller = controllerObj as Controller;
    const headers = controller.getHeaders();
    Object.keys(headers).forEach((name: string) => {
    response.set(name, headers[name]);
    });
    statusCode = controller.getStatus();
    }

    if (data) {
    response.status(data.statusCode || 500).json(data.response);
    } else {
    response.status(statusCode || 204).end();
    }
    })
    .catch((err: any) => {
    {{!-- logger.getTimeLogger().log(Constants.LOGGER.LEVEL.INFO, "", httpContext.get('requestToken'), Constants.ACTIONS.ROUTER.REQUEST_END, {returnCode: err.code || 500 , originMethod: request.method, returnResponse: JSON.stringify({ message: err.message })});
            logger.getTimeLogger().removeRequestToken(httpContext.get('requestToken')); --}}
    response.status(err.code || 500).json({
    message: err.message
    });
    });
    }

    function getValidatedArgs(args: any, request: any): any[] {
    const errorFields: FieldErrors = {};
    const values = Object.keys(args).map(function(key) {
    const name = args[key].name;
    switch (args[key].in) {
    case 'request':
    return request;
    case 'query':
    return ValidateParam(args[key], request.query[name], models, name, errorFields);
    case 'path':
    return ValidateParam(args[key], request.params[name], models, name, errorFields);
    case 'header':
    return ValidateParam(args[key], request.header(name), models, name, errorFields);
    case 'body':
    return ValidateParam(args[key], request.body, models, name, errorFields);
    case 'body-prop':
    return ValidateParam(args[key], request.body[name], models, name, errorFields);
    }
    });

    if (Object.keys(errorFields).length > 0) {
    throw new ValidateError(errorFields, '');
    }
    return values;
    }
    }